<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL55Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/abitpoisk2017
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
        </property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.id.new_generator_mappings" >false</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="org.abitpoisk.RegionDAO"></mapping>
        <mapping class="org.abitpoisk.UniversityDAO"></mapping>
        <mapping class="org.abitpoisk.SpecialityDAO"></mapping>
        <mapping class="org.abitpoisk.ApplyDAO"></mapping>
    </session-factory>
</hibernate-configuration>